.container {
  padding: 0px 16px 16px;
  background-color: gray;
  border-radius: 4px;
}

.header {
  display: flex;
  align-items: center;
}

.count {
  margin-left: 16px;
}

.ol {
  padding: 16px;
  margin: 0px;
  border: solid 1px green;
}
