$list-padding: 24px;
$bg-color: #fff;
$gradient-height: 8px;

.container {
  height: fit-content;
  border-radius: 4px;
}

.header {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: $list-padding;
  padding-right: $list-padding;
}

@mixin colorBorder($color, $height) {
  background: linear-gradient(
    180deg,
    $color $height,
    $bg-color $height,
    $bg-color $height
  );
  border: 1px solid $color;
}

.urgent {
  @include colorBorder(#009d00, $gradient-height);
}

.schedule {
  @include colorBorder(#42c0fb, $gradient-height);
}

.delegate {
  @include colorBorder(#ffa500, $gradient-height);
}

.pass {
  @include colorBorder(#d80000, $gradient-height);
}

.h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 0.5px;
}

.label {
  margin-left: 4px;
  font-size: 10px;
  text-transform: uppercase;
}

.count {
  margin-left: 16px;
  font-size: 12px;
}

.form {
  margin-left: $list-padding;
  margin-right: $list-padding;
}

.input {
  width: 100%;
  height: 32px;
  border-color: transparent;
  border-bottom: solid 1px #d3d4d6;

  &:focus {
    outline: none;
    border-bottom: solid 2px #005b96;
    border-top: solid 3px transparent;
  }
}

.disabled {
  background-color: $bg-color;
  color: #3895d3;
}

.list {
  padding: 16px $list-padding $list-padding;
  margin-top: 0px;
  margin-bottom: 0px;
}
