$list-padding: 24px;
$bg-color: #fff;
$gradient-height: 8px;

$urgent-color: #009d00;
$schedule-color: #42c0fb;
$delegate-color: #ffa500;
$pass-color: #d80000;

.container {
  height: fit-content;
  border-radius: 4px;
}

.header {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: $list-padding;
  padding-right: $list-padding;
}

@mixin colorBorder($color, $height) {
  background: linear-gradient(
    180deg,
    $color $height,
    $bg-color $height,
    $bg-color $height
  );
  border: 1px solid $color;
}

.urgent {
  @include colorBorder($urgent-color, $gradient-height);
}

.schedule {
  @include colorBorder($schedule-color, $gradient-height);
}

.delegate {
  @include colorBorder($delegate-color, $gradient-height);
}

.pass {
  @include colorBorder($pass-color, $gradient-height);
}

.h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 0.5px;
}

.label {
  margin-left: 4px;
  font-size: 10px;
  text-transform: uppercase;
}

.count {
  margin-left: 16px;
  font-size: 12px;
}

.form {
  margin-left: $list-padding;
  margin-right: $list-padding;
  border-bottom: solid 1px #d3d4d6;
}

.input {
  width: 100%;
  height: 32px;
  border-color: transparent;
}

.list {
  padding: 16px $list-padding $list-padding;
  margin-top: 0px;
  margin-bottom: 0px;
}
