$task-height: 30px;
$button-size: 16px;
$border-color: #d3d4d6;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
}

.dropSpacer {
  width: 100%;
  min-height: $task-height/2;
  cursor: grabbing;
  z-index: 1;

  &::before {
    content: "";
    display: none;
    height: $task-height;
  }
}

.show {
  &::before {
    display: block;
  }
}

.spacerBlock {
  display: none;
}

.content {
  width: 100%;
  height: $task-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #fff;
  border-bottom: solid 1px $border-color;
}

.description {
  width: 100%;
  margin: 0px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottom {
  bottom: 0px;
}

.controls {
  display: flex;
  align-items: center;
  z-index: 2;
}

.button {
  width: $button-size;
  height: $button-size;
  padding: 0px;
  background-color: #fff;
  cursor: pointer;
  z-index: 2;
}

.complete {
  border: 1px solid $border-color;
  border-radius: 4px;
  background-image: url("/icons/checkmark.svg");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
}

.hide {
  background-image: none;
}

.delete {
  border-color: transparent;
  background-image: url("/icons/bin.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
