$task-height: 50px;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.dropSpacer {
  width: 100%;
  min-height: $task-height/2;
  z-index: 1;

  &::before {
    content: "";
    display: none;
    height: $task-height;
  }
}

.show {
  &::before {
    display: block;
  }
}

.spacerBlock {
  display: inline-block;
}

.content {
  display: flex;
  width: 100%;
  height: $task-height;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  background-color: white;
  padding: 0px 8px;
}

.bottom {
  bottom: 0px;
}

.controls {
  display: flex;
  align-items: center;
  z-index: 2;
}

.delete {
  background-color: white;
  border: none;
  padding: 4px;
  margin-right: 8px;
  cursor: pointer;
}

.bin {
  height: 16px;
  width: 16px;
}
