.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px red;
}

.drag {
  background-color: purple;
  margin-bottom: 50px;
}

.controls {
  display: flex;
}
