$page-width: 1024px;
$page-padding: 48px;
$button-size: 24px;

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  min-width: $page-width;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  background-color: #f0f1f4;
  overflow: auto;
}

.header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0px;
  background-color: #d3d4d6;
  box-shadow: 0 2px 4px -2px #2c3632;
}

.content {
  width: $page-width;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: flex-end;
  padding-bottom: 12px;
}

.h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #2c3632;
}

.span {
  margin-left: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #899593;
}

.filter {
  position: relative;
  margin-right: 24px;
}

.button {
  width: $button-size;
  height: $button-size;
  padding: 0px;
  border-radius: 25px;
  background-image: url("/icons/meatball.svg");
  background-repeat: no-repeat;
  background-size: $button-size $button-size;
  background-position: center;
  background-color: inherit;
  border-color: transparent;
  cursor: pointer;
}

.menu {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #f0f1f4;
  box-shadow: 0 2px 4px -2px #2c3632;

  span {
    height: 30px;
    padding: 0px 24px;
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
      background-color: #d3d4d6;
    }

    &::before {
      content: "";
      width: 24px;
      height: 24px;
      display: none;
      position: absolute;
      left: 0;
      background-image: url("/icons/checkmark.svg");
      background-repeat: no-repeat;
      background-size: 10px 10px;
      background-position: center;
    }

    &.selected {
      &::before {
        display: block;
      }
    }
  }
}

.show {
  display: flex;
}

.menuTitle {
  margin-bottom: 2px;
  pointer-events: none;

  &::after {
    content: "";
    height: 2px;
    background-color: #d3d4d6;
    position: absolute;
    bottom: 0px;
    left: 8px;
    right: 8px;
  }
}

.main {
  width: $page-width;
  margin-top: 96px;
}
