$main-width: 1024px;

$title-color-1: #2c3632;
$title-color-2: #899593;

$bg-gray-1: #d3d4d6;
$bg-gray-2: #f0f1f4;

$shadow-color: #2c3632;
$focus-border-color: #005b96;
$border-color: #d3d4d6;
$disabled-color: #3895d3;

$list-color-1: #009d00;
$list-color-2: #42c0fb;
$list-color-3: #ffa500;
$list-color-4: #d80000;
$list-bg-color: #fff;
